html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	 display: block;
}
body {
	 width:100%; 
	 font-size:12px;
	 color:#333;
	 line-height:1.5; }
	 
ol, ul {
  list-style: none;
}
li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
 width:100%;
}

img,fieldset { border:0; }
li img,dd img,dt img,label img { vertical-align:top; }
li { line-height:100%; }
input,select,textarea,button { font-size:12px; color:#333; }
img,input,select { vertical-align:middle;}
address,caption,em { font-weight:normal; font-style:normal; }
hr { display:none; }
.hide {
	 width:0;
	 height:0;
	 font-size:0;
	 text-indent:-9999px;
	 overflow:hidden;}
a {
	color:#333;
	text-decoration:none;}
a:visited,a:hover,a:active,a:focus { color:#666; }
caption,legend { 
	width:0;
	height:0;
	font-size:0;
	text-indent:-9999px;
	overflow:hidden;}

#skipNav a {
	display:block;
	position:absolute; 
	left:0; 
	top:-10000px;
	text-align: center;
	width:100%; 
	height:30px; 
	z-index: 500; 
	line-height:30px;
	font-weight:bold; 
	font-size:14px;}
	
#skipNav a:hover,#skipNav a:focus,#skipNav a:active {background:#ccc;top:0}
h1, h2, h3, h4, h5, h6 {
	font-size:12px; 
	color:#333;}

.hide {
	width:0; height:0; 
	margin:0; padding:0; 
	position:absolute; left:0; top:0; 
	font-size:0; text-indent:-9999px;
	 overflow:hidden; visibility:hidden}

.clearfix:after{ 
	display:block; 
	clear:both;
	content:"" ; 
	font-size:0 ;
	line-height: 0 }